.UserInformation{
  border: 5px solid rgb(0, 136, 255);
  border-radius: 10px;
  display: flex;
  color: black;
  height:  400px;
}

.textInfo{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  padding: 20px;
  flex: 1;
}



.ImageInfo img{
  height:  400px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.AllHomePage{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media(max-width: 786px) {
  .UserInformation{
    border: 5px solid rgb(0, 136, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    height:  80vh;
    width: 80vw;
  }
  
  .textInfo{
    font-size: 20px;
    padding: 14px;
    flex: 1;
  }
  
  .ImageInfo img{
    height:  35vh;
    width: 55vw;
    object-fit: cover;
    border-radius: 5px;
    padding: 5px;
  }
  
  .AllHomePage{
    height: 100vh;
    width: 100vw;
    display: flex;
    
  }
}