.UserInformation{
  border: 5px solid rgb(0, 136, 255);
  border-radius: 10px;
  display: flex;
  color: black;
  height:  400px;
}

.textInfo{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  padding: 20px;
  flex: 1;
}

.ImageInfo img{
  height:  400px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.AllHomePage{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: start;
  align-items: center;
}

@media(max-width: 1068px) {
  .UserInformation{
    border: 5px solid rgb(0, 136, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    height:  460px;
    width: 200px;
  }
  
  .textInfo{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    padding: 20px;
    flex: 1;
  }
  
  .ImageInfo img{
    height:  200px;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
    padding: 5px;
  }
  
  .AllHomePage{
    height: 100vh;
    width: 100vw;
    display: flex;

  }
}