

.StandardLink{
  text-decoration: none;
  font-size: 25px;
  width: 200px;
  transform: translateX(330px);
  background: rgb(0, 136, 255);
  color: black;
  border-radius: 10px;
  border: 1px solid black;
}

.StandardLink:hover{
  background: rgb(2, 103, 192);
}

@media(max-width: 1068px) {
  .StandardLink{
    text-decoration: none;
    font-size: 14px;
    width: 100px;
    background: rgb(0, 136, 255);
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    transform: translateX(30px);
  }
}